
body{
   font-family: Arial, sans-serif;
   background-color: black;
   margin: 0%;
   padding: 0%;
}

header{
   text-align: center;
   background-color: blueviolet;
   color: aqua;
   padding: 20px 0;
}

h1 {
   margin: 0;
}

main{
text-align: center;
padding: 20px 0;
}

.image-container{
display: flex;
justify-content: center;
align-items: center;
}

.image-container img {
width: 720px;
margin: 0% 40px;
}

footer {
text-align: center;
background-color: aqua;
color: black;
padding: 20px 0;
}