

header{
   background-color: rgb(141, 226, 43);
   background-color: rgb(246, 255, 119);
   font-size: 40px;
   color: rgb(141, 226, 43);
   width: 100%;
   height: 45px;
   text-align: center;
   padding: 10px;

}
.imagem_da_pagina{
   text-align: center;

}
img{
   width: 90%;
   height: auto;

}